.section1 {
  background-color: white;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.about_container {
  display: flex;
  column-gap: 2.5rem;
}

.about_text p {
  color: #212b51;
  line-height: 2;
}



@media (max-width: 1157px) {
  .about_container {
    flex-direction: column;
    gap: 1rem;
  }

  .container_about-image img {
    width: 100%;
  }
}
