@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(133, 44, 36, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-color: #700e0e;
  border-radius: 10px;
}

body::-webkit-scrollbar-button {
  background-color: white;
}

main {
  width: 95%;
  margin: 0 auto;
}
